/* font-family: 'Poppins', sans-serif; 400,500,600*/
/* font-family: 'Secular One', sans-serif; 400*/
:root {
  --heading-color: #000958;
  --content-color: #656689;
  --light-background-color: #fffaf5;
  --dark-background-color: rgba(255, 239, 222, 0.562);
  --button-color: #ff5b2e;
  --heading-font: "Secular One", sans-serif;
  --content-font: "Poppins", sans-serif;
}
body {
  font-family: var(--content-font);
  color: var(--content-color);
  background: var(--light-background-color);
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  color: var(--heading-color);
}
h4 {
  font-size: 36px;
  text-transform: capitalize;
  cursor: pointer;
}
.active {
  color: #000958;
}
.nav-item {
  font-size: 18px;
  font-weight: normal;
}

.dog-hero {
  position: relative;
  top: -580px;
  left: 300px;
}
.cat-hero {
  margin-top: 150px;
}
.dog-hero-img {
  border: 12px solid #fff;
  border-radius: 30px;
}
.cat-hero-img {
  border-bottom-right-radius: 30px;
}
.hero-star-icon {
  position: relative;
  top: -600px;
  left: 650px;
}
.hero-circle-icon {
  position: relative;
  top: -50px;
  left: 500px;
}
.hero-paw-icon {
  position: relative;
  left: 150px;
}
.hero-content-container {
  margin: 0 300px 0 0;
}
.hero-heading {
  font-size: 58px;
  line-height: 1.5;
  margin-top: 50px;
  margin-bottom: 30px;
}
.hero-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
}
.contact-btn {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: var(--button-color);
  padding: 16px 26px;
  border-radius: 10px;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  margin-top: 50px;
  transition: all 200ms ease-in-out;
}
.contact-btn:hover {
  color: var(--button-color);
  background: var(--light-background-color);
  border: 1px solid var(--button-color);
}

.navigation-links {
  text-decoration: none;
}
.navigation-img {
  transition: transform 0.2s;
}
.navigation-img:hover {
  transform: scale(1.1);
}
.navigation-circle-icon {
  position: relative;
  top: -420px;
  left: -180px;
}
.navigation-dots-icon {
  position: relative;
  top: -70px;
  left: 150px;
}
.navigation-chevron-icon {
  position: relative;
  top: -350px;
  left: 180px;
}
/* blog */
.blog-bg-container {
  background: var(--dark-background-color);
}
.blog-heading {
  font-size: 46px;
  line-height: 1.5;
  font-weight: normal;
  text-align: center;
}
.blog-content {
  text-align: left;
  padding-left: 70px;
}
.blog-text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
}
.blog-link {
  color: var(--content-color);
  text-decoration: none;
}
.blog-link:hover {
  color: var(--button-color);
}
.blog-star-icon {
  position: relative;
  top: -150px;
  left: 350px;
}
.blog-dots-icon {
  position: relative;
  top: 350px;
  left: -280px;
}
.blog-paw-icon {
  position: relative;
  top: 80px;
  left: -80px;
}
.blog-chevron-icon {
  position: relative;
  left: 190px;
  top: -30px;
}
